.DS_Store
backend/node_modules/
frontend/node_modules/
.idea/*
.idea/workspace.xml
frontend/npm-debug.log
frontend/yarn-error.log
frontend/selenium-debug.log
frontend/test/unit/coverage
frontend/test/e2e/reports
