files:
    "/etc/nginx/conf.d/proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            upstream nodejs {
                server 127.0.0.1:3000;
                keepalive 256;
            }

            client_max_body_size 500M;

    /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash -xe
            rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
            service nginx stop
            service nginx start

option_settings:
    aws:elasticbeanstalk:container:nodejs:
        NodeCommand: "npm start"
container_commands:
    01_install_pdf_package:
        command: "yum install -y imagemagick ghostscript poppler-utils GraphicsMagick"
    removeconfig:
        command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
