files:
    "/etc/nginx/conf.d/proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            client_max_body_size 500M;
option_settings:
    aws:elasticbeanstalk:container:nodejs:
        NodeCommand: "npm start"
container_commands:
    01_install_pdf_package:
        command: "yum install -y imagemagick ghostscript poppler-utils GraphicsMagick"