$main-color: #9dadff;
.wrapper {
  background: $main-color;
  padding: 50px;

  .container {
    &.outer {
      background:white;
      max-width:1280px;
    }

    &.inner {
      padding:4rem;
    }
  }

  .title-container {
    .title {
      font-size: 3rem;
      line-height: 1.34;
    }
  }
  .user-info-contents {
    .user-name {
      font-size: 1.4rem;
      text-align: right;
      line-height: 1.15;

      &::after {
        margin-left:calc(100% - 100px);
        content: " ";
        border: 1px solid $main-color;
        margin-top: 0.2rem;
        margin-bottom: 1.8rem;
        display: block;
        max-width: 100px;
      }
    }
    .user-info {
      font-size: 1.14rem;
      color: #333333;
      .contents {
        margin-right: 0.8rem;
      }
      p {
        font-size:1.1rem;
        line-height:1.91;
      }
    }
  }
  .btn-select-view {
    display: flex;
    justify-content: space-between;
    margin-bottom:3.5rem;

    .select-view {
      align-self: stretch;
      label {
        display: block;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1.1;
        margin-bottom: 0.8rem;
      }

      div.select, select  {
        width: 340px;
        height: 53px;
      }

      div.select {
        &::after {
          border: 2px solid #aaaaaa;
          border-right: 0;
          border-top: 0;
          width: 0.8rem;
          height: 0.8rem;
          margin-top: -0.5rem;
        }
      }
      select {
        border: 1px solid $main-color;
        font-size: 1.4rem;
      }
    }

    .btn-view {
      align-self:flex-end;
      button {
        width: 180px;
        height: 52px;
        border-radius: 3px;
        background-color: #9dadff;
        border: solid 1px #9dadff;
        color: white;
        font-size: 1.5rem;
        margin: 0 0.35rem;

        &:last-child {
          margin-right: 0;
        }

        &.white {
          background-color: #ffffff;
          color: #869aff;
        }
      }
    }
  }

  .estimate-contents {
    .content {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 1.5rem;
      .title-container {
        margin: 1.3rem 0 1.3rem 0.7rem;
        .subtitle {
          margin: 0;
          color: $main-color;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.5;
        }
        i {
          font-size: 2rem;
          color: $main-color;
        }
      }

      &.fold {
        padding-bottom: 0;
        .title-container {
          .subtitle {
            color: black;
          }
          i {
            color: #aaaaaa;
          }
        }
      }

      &.not-opened {
        padding-bottom: 0;
        .title-container {
          .subtitle {
            color: black;
          }
          i {
            color: #aaaaaa;
          }
        }
        .discount {
          color: #ff4276 !important;
        }
        .money-summary {
          margin-right: 2.3rem;
        }
      }

      &.result {
        .title-container {
          margin: 2.5rem 0 1.3rem 0.7rem;
          .subtitle {
            color: black;
            font-size: 2.28rem;
            line-height:1.8;
          }
        }

        .money-summary {
          font-size: 2rem;
          padding-right: 0;
          b {
            font-size: 2.7rem;
          }
        }

        border-bottom: 0;
      }
      .table {
        border-color:inherit;

        thead {
          border-top: 1px solid #e1e1e1;
          th {
            border-bottom: 1px solid #333333;
          }
        }

        tbody {

        }
      }
      .money-summary {
        font-size: 1.7rem;
        margin-right: 1rem;
      }
    }
  }
}
